<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>My test page</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form action="/my-handling-form-page" method="post">
        <ul>
            <li id="velo-routes-li">
                <label for="velo-route">Select the Hamburg Velo route to rate.</label>
                <select name="velo-route" id="velo-routes">
                    <option value="City-Rissen">Veloroute 1: City-Rissen</option>
                    <option value="City-Eidelstedt">Veloroute 2: City-Eidelstedt</option>
                    <option value="City-Niendorf">Veloroute 3: City-Niendorf</option>
                    <option value="City-Langenhorn">Veloroute 4: City-Langenhorn</option>
                    <option value="City-Duvenstedt">Veloroute 5: City-Duvenstedt</option>
                    <option value="City-Volksdorf">Veloroute 6: City-Volksdorf</option>
                    <option value="City-Rahlstedt">Veloroute 7: City-Rahlstedt</option>
                    <option value="City-Bergedorf-I">Veloroute 8: City-Bergedorf-I</option>
                    <option value="City-Bergedorf-II">Veloroute 9: City-Bergedorf-II</option>
                    <option value="City-Neugraben">Veloroute 10: City-Neugraben"</option>
                    <option value="City-TU-Hamburg">Veloroute 11: City-TU-Hamburg</option>
                    <option value="City-Altona">Veloroute 12: City-Altona</option>
                    <option value="Innerer-Ring">Veloroute 13: Innerer-Ring</option>
                    <option value="Äuẞerer Ring">Veloroute 14: Äuẞerer Ring</option>
                </select>
            </li>
            <p>-Easiness-</p>
            <p>Is the route easy to navigate?</p>
            <li>
                <label for="easiness-1">1</label>
                <input type="radio" id="easiness-1" name="easiness" value="1">
            </li>
            <li>
                <label for="easiness-2">2</label>
                <input type="radio" id="easiness-2" name="easiness" value="2">
            </li>
            <li>
                <label for="easiness-3">3</label>
                <input type="radio" id="easiness-3" name="easiness" value="3">
            </li>
            <li>
                <label for="easiness-4">4</label>
                <input type="radio" id="easiness-4" name="easiness" value="4">
            </li>
            <li>
                <label for="easiness-5">5</label>
                <input type="radio" id="easiness-5" name="easiness" value="5">
            </li>

            <p>-Scenery-</p>
            <p>How picturesque is the landscape along the route?</p>
            <li>
                <label for="scenery-1">1</label>
                <input type="radio" id="scenery-1" name="scenery" value="1">
            </li>
            <li>
                <label for="scenery-2">2</label>
                <input type="radio" id="scenery-2" name="scenery" value="2">
            </li>
            <li>
                <label for="scenery-3">3</label>
                <input type="radio" id="scenery-3" name="scenery" value="3">
            </li>
            <li>
                <label for="scenery-4">4</label>
                <input type="radio" id="scenery-4" name="scenery" value="4">
            </li>
            <li>
                <label for="scenery-5">5</label>
                <input type="radio" id="scenery-5" name="scenery" value="5">
            </li>

            <p>-Road Surface Condition-</p>
            <p>Is the road surface in good condition for cycling?</p>
            <li>
                <label for="road-surface-condition-1">1</label>
                <input type="radio" id="road-surface-condition-1" name="road-surface-condition" value="1">
            </li>
            <li>
                <label for="road-surface-condition-2">2</label>
                <input type="radio" id="road-surface-condition-2" name="road-surface-condition" value="2">
            </li>
            <li>
                <label for="road-surface-condition-3">3</label>
                <input type="radio" id="road-surface-condition-3" name="road-surface-condition" value="3">
            </li>
            <li>
                <label for="road-surface-condition-4">4</label>
                <input type="radio" id="road-surface-condition-4" name="road-surface-condition" value="4">
            </li>
            <li>
                <label for="road-surface-condition-5">5</label>
                <input type="radio" id="road-surface-condition-5" name="road-surface-condition" value="5">
            </li>

            <p>-Signage-</p>
            <p>Is the route well marked to avoid confusion?</p>
            <li>
                <label for="signage">1</label>
                <input type="radio" id="signage-1" name="signage" value="1">
            </li>
            <li>
                <label for="signage-2">2</label>
                <input type="radio" id="signage-2" name="signage" value="2">
            </li>
            <li>
                <label for="signage-3">3</label>
                <input type="radio" id="signage-3" name="signage" value="3">
            </li>
            <li>
                <label for="signage-4">4</label>
                <input type="radio" id="signage-4" name="signage" value="4">
            </li>
            <li>
                <label for="signage-5">5</label>
                <input type="radio" id="signage-5" name="signage" value="5">
            </li>

            <p>-Traffic-</p>
            <p>How much vehicular traffic is there on the route?</p>
            <li>
                <label for="traffic">1</label>
                <input type="radio" id="traffic-1" name="traffic" value="1">
            </li>
            <li>
                <label for="traffic-2">2</label>
                <input type="radio" id="traffic-2" name="traffic" value="2">
            </li>
            <li>
                <label for="traffic-3">3</label>
                <input type="radio" id="traffic-3" name="traffic" value="3">
            </li>
            <li>
                <label for="traffic-4">4</label>
                <input type="radio" id="traffic-4" name="traffic" value="4">
            </li>
            <li>
                <label for="traffic-5">5</label>
                <input type="radio" id="traffic-5" name="traffic" value="5">
            </li>
            
            <p>-Amenities Availability-</p>
            <p>Are there places to rest, public restrooms, or service stations along the route?</p>
            <li>
                <label for="amenities">1</label>
                <input type="radio" id="amenities-1" name="amenities" value="1">
            </li>
            <li>
                <label for="amenities-2">2</label>
                <input type="radio" id="amenities-2" name="amenities" value="2">
            </li>
            <li>
                <label for="amenities-3">3</label>
                <input type="radio" id="amenities-3" name="amenities" value="3">
            </li>
            <li>
                <label for="amenities-4">4</label>
                <input type="radio" id="amenities-4" name="amenities" value="4">
            </li>
            <li>
                <label for="amenities-5">5</label>
                <input type="radio" id="amenities-5" name="amenities" value="5">
            </li>

            <p>-Safety-</p>
            <p>Do you feel safe while cycling on the route?</p>
            <li>
                <label for="safety">1</label>
                <input type="radio" id="safety-1" name="safety" value="1">
            </li>
            <li>
                <label for="safety-2">2</label>
                <input type="radio" id="safety-2" name="safety" value="2">
            </li>
            <li>
                <label for="safety-3">3</label>
                <input type="radio" id="safety-3" name="safety" value="3">
            </li>
            <li>
                <label for="safety-4">4</label>
                <input type="radio" id="safety-4" name="safety" value="4">
            </li>
            <li>
                <label for="safety-5">5</label>
                <input type="radio" id="safety-5" name="safety" value="5">
            </li>

            <p>-Accessibility-</p>
            <p>Is it easy to access the route from various locations in Hamburg?</p>
            <li>
                <label for="accessibility">1</label>
                <input type="radio" id="accessibility-1" name="accessibility" value="1">
            </li>
            <li>
                <label for="accessibility-2">2</label>
                <input type="radio" id="accessibility-2" name="accessibility" value="2">
            </li>
            <li>
                <label for="accessibility-3">3</label>
                <input type="radio" id="accessibility-3" name="accessibility" value="3">
            </li>
            <li>
                <label for="accessibility-4">4</label>
                <input type="radio" id="accessibility-4" name="accessibility" value="4">
            </li>
            <li>
                <label for="accessibility-5">5</label>
                <input type="radio" id="accessibility-5" name="accessibility" value="5">
            </li>

            <p>-Point of Interests-</p>
            <p>Are there any notable points of interest, such as parks, monuments, or restaurants along the route?</p>
            <li>
                <label for="points">1</label>
                <input type="radio" id="points-1" name="points" value="1">
            </li>
            <li>
                <label for="points-2">2</label>
                <input type="radio" id="points-2" name="points" value="2">
            </li>
            <li>
                <label for="points-3">3</label>
                <input type="radio" id="points-3" name="points" value="3">
            </li>
            <li>
                <label for="points-4">4</label>
                <input type="radio" id="points-4" name="points" value="4">
            </li>
            <li>
                <label for="points-5">5</label>
                <input type="radio" id="points-5" name="points" value="5">
            </li>
            <li class="button">
                <button type="submit">Send your message</button>
            </li>
          </ul>
    </form>
  </body>
</html>