.header {
  display: flex;
  flex-direction: row;
  background-color: #262626;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header li {
  list-style: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: bold;
  font-size: 20px;
  font-weight: bold;
}
.header button {
  display: flex;
  flex-direction: row;
  max-height: 80px;
  background-color: #fbfda3;
  color: #262626;
  margin: auto;
  align-content: flex-end;
  border: 0px;
  padding: 0px;
}
.header button a {
  padding: 20px;
  font-weight: bold;
}
.header button img {
  max-height: 100%;
  width: 100%;
  display: block;
  align-items: right;
  margin: 0px;
}
.header button span {
  display: block;
  height: 100%;
  width: 30%;
}
#logo {
  width: 30%;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
