@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
html,
body,
#__next {
  width: 100%;
  height: 100%;
}
#__next > main {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: auto;
  text-align: justify;
  overflow: scroll;
  padding: 10px;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: #262626;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}
.content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
a {
  font-weight: bold;
}
a:hover {
  cursor: point;
}
@media (max-width: 700px) {
  .header {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
  }
}
.header a {
  list-style: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: bold;
  font-size: relative;
  cursor: pointer;
}
.signupbutton {
  display: flex;
  flex-direction: row;
  max-height: 80px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(251, 253, 163, 1) 30%
  );
  color: #262626;
  margin: auto;
  align-content: flex-end;
  border: 0px;
  padding: 0px;
  cursor: pointer;
  align-items: center;
  width: 300px;
  position: relative;
  border-radius: 15px;
}
.signupbutton div {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  margin: 0px;
  background: #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.signupbutton p {
  padding: 20px;
  width: calc(100% - 30%);
  font-weight: bold;
  align-items: center;
  text-align: center;
}
.signupbutton img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
#logo {
  height: 75px;
  object-fit: contain;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
/* Here starts the css for the registration form */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fbfda3;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #000000;
}
.tab button:hover {
  background-color: #b1b371;
}
.container-box {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  opacity: 90%;
  border: #000000;
  align-items: center;
  justify-content: center;
  background: #fbfda3;
  color: #000000;
  text-align: center;
  padding: 40px 90px;
  color: #262626;
  padding: 6px 12px;
  border: 1px solid #b1b371;
  margin: 20 auto;
  position: fixed;
  top: 10%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
input {
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #2c2828;
  box-sizing: border-box;
}
.inputButton {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  outline: auto;
}
.login h2 {
  margin-bottom: 10px;
  color: #333;
}

.login input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Here starts the css for the ranking form */
.container-rate {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  border: #000000;
  align-items: center;
  justify-content: center;
  background: #fbfda3;
  text-align: center;
  color: #000000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 20px;
  padding: 6px 12px;
  border: 1px solid #b1b371;
  border-top: none;
  margin-top: 80px;
  list-style: none;
  opacity: 80%;
}

#route-selection {
  display: flex;
  gap: 50px;
  align-items: center;
  padding-top: 0px;
}

#route-selection > select {
  background-color: white;
  border: 2px solid #262626;
  border-radius: 30px;
  color: #000000;
}

.container-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#container-questionnaire {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-fields {
  display: flex;
  justify-content: space-between;
}

.container-fields p {
  font-size: 0.7rem;
}

.container-points {
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-size: 0.9rem;
}

.container-points li {
  display: flex;
  align-items: center;
}

.form > button {
  border: 2px solid #262626;
  background-color: white;
  border-radius: 30px;
  padding: 5px;
  margin-top: 20px;
  color: #000000;
}

/* ---- Below this line starts the css for the file "map.js" ---- */

.container-map {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
}

.header-map {
  color: #f1f1f1;
  margin-bottom: 40px;
  margin-top: 20px;
}

.map-embebed {
  width: 80%;
  height: 500px;
  /*filter: invert(100%);*/
}

/* ---- Finish the css for the file "map.js" ---- */

.container-box {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: auto;
  border: #000000;
  align-items: center;
  justify-content: center;
  background: #fbfda3;
  opacity: 90%;
  text-align: center;
  color: #000000;
  position: absolute;
  border-radius: 20px;
  padding: 6px 12px;
  border: 1px solid #b1b371;
  border-top: none;
  margin: auto;
}

/* ---- Below this line starts the css for the file "profile.js" ---- */

.container-profile {
  width: 100%;
  height: 100vh;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-box {
  background: #fbfda3;
  text-align: center;
  padding: 40px 90px;
  color: #262626;
  position: relative;
  border-radius: 20px;
}

.menu-icon {
  width: 25px;
  position: absolute;
  left: 40px;
  top: 40px;
}

.setting-icon {
  width: 25px;
  position: absolute;
  right: 40px;
  top: 40px;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  background: #262626;
  padding: 6px;
}

.profile-bottom {
  background: #262626;
  color: #f2f2f2;
  padding: 60px 0;
  margin-right: -90px;
  margin-left: -90px;
  margin-bottom: -40px;
  border-radius: 20px;
  margin-top: -10px;
}

.profile-bottom img {
  width: 25px;
  margin-top: 25px;
  cursor: pointer;
}

.profile-box button {
  background: #262626;
  color: #fbfda3;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px rgba(236, 220, 70, 0.685);
  padding: 15px 60px;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: -50px;
  font-weight: 600;
  font-size: 16px;
}

.profile-box h3 {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
}

.social-media img {
  width: 20px;
  margin: 30px 5px;
  cursor: pointer;
}

/* ---- Finish the css for the file "map.js" ---- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kosugi_Maru", sans-serif;
}

.footer {
  margin: auto;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  bottom: 0;
  height: auto;
  padding: 10px;
}
.pwAlert {
  background-color: #000000;
  color: #f2f2f2;
  line-height: 1.2rem;
  padding: 0.5rem 0rem 0.5rem 0.2rem;
  max-width: 78%;
  margin: 0 auto;
  display: flex;
  vertical-align: center;
  align-items: center;
  /*justify-content: center;*/
}
.pwAlertIcon {
  padding-right: 0rem;
  padding-left: 0.5rem;
}
#teampic {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.team {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}
.contactUs {
  background-color: #fbfda3;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 10px;
  opacity: 80%;
}
#msg {
  resize: vertical;
}
#teamButton {
  display: flex;
  flex-direction: row;
  max-height: 80px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(251, 253, 163, 1) 30%
  );
  color: #262626;
  margin: auto;
  align-content: flex-end;
  border: 0px;
  padding: 0px;
  cursor: pointer;
  align-items: center;
  width: 300px;
  position: relative;
  border-radius: 15px;
}
#TBpic {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.contactbutton {
  display: flex;
  flex-direction: row;
  max-height: 80px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(251, 253, 163, 1) 30%
  );
  color: #262626;
  margin: auto;
  align-content: flex-end;
  border: 0px;
  padding: 0px;
  cursor: pointer;
  align-items: center;
  width: 300px;
  position: relative;
  border-radius: 15px;
}
.contactbutton div {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  margin: 0px;
  background: #000000;
}
.contactbutton p {
  padding: 20px;
  width: calc(100% - 30%);
  font-weight: bold;
  align-items: center;
  text-align: center;
}
.contactbutton img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.container-contact {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: auto;
  opacity: 90%;
  border: #000000;
  align-items: center;
  justify-content: center;
  background: #fbfda3;
  color: #000000;
  text-align: center;
  padding: 40px 90px;
  color: #262626;
  padding: 6px 12px;
  border: 1px solid #b1b371;
  margin: 20 auto;
  position: fixed;
  bottom: 30%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.messages {
  resize: vertical;
}
.ratingbutton {
  max-height: 80px;
  background: rgba(251, 253, 163, 1);
  color: #262626;
  margin: auto;
  border: 5px;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  width: 150px;
  position: relative;
  border-radius: 15px;
}
