.header {
  display: flex;
  flex-direction: row;
  background-color: #262626;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header li {
  list-style: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: bold;
  font-size: 20px;
  font-weight: bold;
}
.header button {
  display: flex;
  flex-direction: row;
  padding: 40px;
  background-color: #fbfda3;
  color: #262626;
  margin: auto;
  align-content: flex-end;
}
.header button img {
  width: 30px;
  align-items: right;
  margin: 0px;
}
#logo {
  width: 30%;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* ---- Below this line starts the css for the file "map.js" ---- */

.container-map {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-map {
  color: #333;
  margin-bottom: 60px;
}

.map-embebed {
  width: 80%;
  height: 500px;
  filter: invert(100%);
}

/* ---- Finish the css for the file "map.js" ---- */

/* ---- Below this line starts the css for the file "profile.js" ---- */

.container-profile {
  width: 100%;
  height: 100vh;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-box {
  background: #ff574a;
  text-align: center;
  padding: 40px 90px;
  color: #fff;
  position: relative;
  border-radius: 20px;
}

.menu-icon {
  width: 25px;
  position: absolute;
  left: 40px;
  top: 40px;
}

.setting-icon {
  width: 25px;
  position: absolute;
  right: 40px;
  top: 40px;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 6px;
}

.profile-bottom {
  background: #fff;
  color: #999;
  padding: 60px 0;
  margin-right: -90px;
  margin-left: -90px;
  margin-bottom: -40px;
  border-radius: 20px;
  margin-top: -10px;
}

.profile-bottom img {
  width: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.profile-box button {
  background: #fff;
  color: #ff574a;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px rgba(244, 67, 57, 0.5);
  padding: 15px 60px;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: -50px;
  font-weight: 600;
  font-size: 16px;
}

.profile-box h3 {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
}

.social-media img {
  width: 20px;
  margin: 30px 5px;
  cursor: pointer;
}

/* ---- Finish the css for the file "map.js" ---- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
